# dependencies
node_modules/
.pnpm-store/
.pnp
.pnp.js

# build output
dist/
build/
out/
.next/
coverage/

# local data
postgres-data/
pgadmin-data/
*.db

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# system
.DS_Store
*.pem

# typescript
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel
